<div class="container wrapper wrapper2">
  <div class="row">

    <!-- Form -->
    <div class="col-md-12">
      <h3>Pesquisar sistema</h3>
      <div class="card-body">
        <form (ngSubmit)="f.form.valid && searchSistema(f)" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" [(ngModel)]="sistemas.descricao" id="descricao" name="descricao" #descricao="ngModel" [maxlength]="100" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }" placeholder="Digite a Descrição">
          </div>
          <div class="form-group">
            <label for="sigla">Sigla</label>
            <input type="text" [(ngModel)]="sistemas.sigla" id="sigla" name="sigla" #sigla="ngModel" class="form-control" [maxlength]="10" [ngClass]="{ 'is-invalid': f.submitted && sigla.invalid }" placeholder="Digite a Sigla">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" [(ngModel)]="sistemas.email" id="email" name="email" #email="ngModel" [email]="true" [maxlength]="100" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Digite o E-mail">
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.email">E-mail inválido.</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Pesquisar</button>
          <button type="reset" class="btn btn-danger mr-2" [disabled]="loadedSistemas.length < 1" (click)="clearSistemas(f)">Limpar</button>
          <button type="reset" class="btn btn-success" (click)="router.navigate(['/sistema/create']);">Novo Sistema</button>
        </form>
      </div>
      <table class="table" *ngIf="loadedSistemas.length >= 1">
        <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Sigla</th>
          <th scope="col">E-mail</th>
          <th scope="col">URL</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sistema of loadedSistemas | paginate: {itemsPerPage: 50, currentPage: paginaAtual}">
            <td>{{ sistema.descricao }}</td>
            <td>{{ sistema.sigla }}</td>
            <td>{{ sistema.email }}</td>
            <td>{{ sistema.url }}</td>
            <td>{{ sistema.status }}</td>
            <td>Editar</td>
          </tr>
          <pagination-controls
            (pageChange)="paginaAtual = $event"
            autoHide="true"
            previousLabel="Anterior"
            nextLabel="Próximo"
            screenReaderPaginationLabel="Paginação"
            screenReaderPageLabel="pagina"
            screenReaderCurrentLabel="Você está na página"
          ></pagination-controls>
        </tbody>
      </table>
      <div class="alert alert-danger" *ngIf="error">
        <h6 align="center">{{ error }}</h6>
      </div>
    </div>
  </div>
